[submodule "bin/bwa"]
    path = bin/bwa
    url = https://github.com/lh3/bwa

[submodule "bin/snap"]
    path = bin/snap
    url = https://github.com/amplab/snap
        
[submodule "bin/minimap2"]
	path = bin/minimap2
	url = https://github.com/lh3/minimap2

[submodule "bin/miniasm"]
	path = bin/miniasm
	url = https://github.com/lh3/miniasm.git

[submodule "bin/gfastats"]
	path = bin/gfastats
	url = https://github.com/vgl-hub/gfastats.git
